@import url(root.css);

.grid-container {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  border: 2px solid var(--color3);
  border-radius: 5px;
  padding: 10px;
}

.div-p {
  margin: 1px;
}

.menu-item:hover {
  box-shadow: 5px 5px 20px var(--color5);
  transform: scale(1.02);
}

.div-link:visited,
.div-link:link {
  text-decoration: none;
  color: var(--color1);
}
