@import url(root.css);

.nav-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--color3);
}

.nav-header > h2 {
  text-align: center;
}

.left-arrow,
.right-arrow {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.main-link:visited,
.main-link:link {
  text-decoration: none;
  color: var(--color1);
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid var(--color3);
  color: var(--color4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer > * {
  flex-grow: 1;
  flex-basis: 45%;
  font-size: 12px;
  padding-right: 1vw;
  padding-left: 1vw;
  background-color: var(--color2);
  font-style: italic;
}

.right-footer {
  float: right;
  text-align: right;
}

.foot-link:link,
.foot-link:visited {
  color: var(--color4);
}

footer > div > p {
  margin-top: 2px;
  margin-bottom: 2px;
}
